body
	width 100%
#logo, #columna_2, #columna_3, #columna_4, #caja-redes
		display inline-block
		position relative
		margin 0
		vertical-align top
		width 19%
#columna_2
	background blue
	content ""
	padding 1em
#columna_3
	background #454234
	content ""
	padding 1em
#columna_4
	background #569865
	content ""
	padding 1em