*
  margin: 0
  padding: 0

.icon-button
  background-color: transparent
  border-radius: 3em
  cursor: pointer
  font-size 1.5em
  display: inline-block
  height: 3em
  line-height: 3em
  position: relative
  width: 3em

.icon-button span
  border-radius: 0
  display: block
  height: 0
  left: 50%
  margin: 0
  position: absolute
  top: 50%
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  -o-transition: all 0.3s
  transition: all 0.3s
  width: 0

.icon-button:hover span
  width: 3em
  height: 3em
  border-radius: 3em
  margin: -1.5em

.correo span
  background-color #4393BB

.pinterest span
  background-color: #C92228

.twitter span
  background-color: #4099ff

.facebook span
  background-color: #3B5998

.youtube span
  background-color: #db5a3c

/* Iconos */
.icon-button i
  background: none
  color: white
  left: 0
  line-height: 3em
  position: absolute
  top: 0
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  -o-transition: all 0.3s
  transition: all 0.3s
  width: 2.8em
  z-index: 2

.icon-button .correo
  color #4393BB

.icon-button .facebook
  color #3B5998

.icon-button .youtube
  color #db5a3c

.icon-button:hover .linkedin,
.icon-button:hover .pinterest,
.icon-button:hover .correo,
.icon-button:hover .facebook,
.icon-button:hover .youtube
  color: white

